.cabecario {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1e1e1e;
}
.icone {
  padding: 1rem;
  width: 36px;
  height: 36px;
}
.iconeHome {
  padding: 1rem;
  width: 36px;
  height: 36px;
}
