.postFormulario {
  padding: 1rem;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1c;
}
.postInput {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.postInput input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  width: 60vw;
}
.linkcadastrarBotao {
  margin: 1rem;
}
.linkcadastrarBotao:hover {
  cursor: pointer;
}
