.componenteSetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.setasVotos:hover {
  cursor: pointer;
}
.componenteLink {
  display: flex;
}
.componenteLink h1 {
  margin: 0px;
}
.linhaTitulo {
  text-align: left;
  color: #3276c3;
}
.linhaTitulo:hover {
  cursor: pointer;
  color: #f1f1f1;
}
.linhaDoLink {
  text-align: left;
  margin: 0px;
  font-style: italic;
  color: #f1f1f1;
  font-size: 12px;
}
.componenteDescricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.criador {
  font-size: 8px;
}
.setasVotos {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.setasVotos.animate {
  transform: scale(2.2);
}

.mouseEffect {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 0, 150, 0.5);
  pointer-events: none;
  animation: rippleEffect 0.5s ease-out;
  z-index: 1000;
}

@keyframes rippleEffect {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(5);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .linhaDoLink {
    font-size: 0.9rem; /* Ajuste para caber melhor */
  }
  .linhaDaDescricao {
    font-size: 0.9rem; /* Ajuste para caber melhor */
  }
}

