.componenteSetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.setasVotos:hover {
  cursor: pointer;
}
.componenteLink {
  display: flex;
}
.componenteLink h1 {
  margin: 0px;
}
.linhaTitulo {
  text-align: left;
  color: #3276c3;
}
.linhaTitulo:hover {
  cursor: pointer;
  color: #f1f1f1;
}
.linhaDoLink {
  text-align: left;
  margin: 0px;
  font-style: italic;
  color: #f1f1f1;
  font-size: 12px;
}
.componenteDescricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .linhaTitulo {
    font-size: 24px;
    align-items: flex-start;
  }
}
